{{yield}}

<div class="panel panel-default">
  <div class="panel-heading">
    Solution correct
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Tries:</dt>
      <dd>{{tries}}</dd>
      <dt>Begin Date:</dt>
      <dd>{{beginDateReadable}}</dd>
      <dt>Submit Date:</dt>
      <dd>{{submitDate}}</dd>
    </dl>
  </div>
</div>
