.scrollpanel {
  max-height: 60vh;
  min-height: 25vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%
}

.collapsecontrol {
  cursor: pointer;
  margin-bottom: 0;
}

.collapsablecontent {
  padding-left: 2em;
  .underlined {
    border-bottom: 1px solid;
  };
  margin-bottom: 0;
}

.collapsecontrol[aria-expanded=true] .glyphicon-chevron-right {
  display: none;
}

.collapsecontrol[aria-expanded=false] .glyphicon-chevron-down {
  display: none;
}

.line{
  line-height: 1.15;
}
