<main>
  <div class="container-fluid">
    <div class="row">
    {{model.message}}
    </div>

      {{#each model.errors as |err|}}
        <div class="row">
          <h1>{{err.status}} </h1>
          {{err.detail}}
          <hr>
        </div>
      {{/each}}

  </div>
</main>
