{{outlet}}
<div class="container-fluid">
  <h1> 404 </h1>
  <hr>
  <h2> Your query lead to nothing...</h2>
  <a style="cursor: pointer" {{action "redirect" on="click"}}>You might want to practise a little more?</a>
</div>
