{{outlet}}
<div class="container-fluid">
  <h1> 404 </h1>
  <hr>
  <h2> Your query lead to nothing...</h2>
  <a href="/web/trainer" style="cursor: pointer">You might want to practise a little more?</a>
</div>
